.main_career{    
    padding: 0;
}

.container_career {
    width: 70%;
    margin: auto;
    padding: 0;
    border-radius: 0;
    background-color: antiquewhite;
    padding: 40px 20px;
}

.container_career h1{
    text-align: center;
    text-decoration: underline;
}

.career_section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.career_section_text{
    width: 60%;
}

.career_section_image{
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.career_section_image img{
    width: 100%;
}

.career_section_image button{
    position: absolute;
    padding: 13px 20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #22222280;
    color: white;
}

.career_section_text h2{
    margin: 20px 0;
}


.career_section_text ul{
    list-style:square;
    margin-left: 20px;
    margin-top: 15px;
}

.career_section_text ul li{
    margin-bottom: 10px;
}


.career_section_text p{
    text-align: justify;
}

.myOpinion{
    margin-top: 20px;
    font-style: italic;
}